- Homelab:
  - Proxmox:
      href: https://proxmox.$DOMAIN
      icon: proxmox

- Networking:
  - Router:
      href: https://router.$DOMAIN
      icon: router
  - Pi-hole:
      href: https://pihole.$DOMAIN/admin
      icon: pihole
  - Reverse Proxy:
      href: https://reverseproxy.$DOMAIN
      icon: nginx
  - WireGuard:
      href: https://wireguard.$DOMAIN
      icon: wireguard

- Monitoring:
  - Grafana:
      href: https://grafana.$DOMAIN
      icon: grafana
  - VictoriaMetrics:
      href: https://victoriametrics.$DOMAIN
      icon: prometheus
  - VictoriaLogs:
      href: https://victorialogs.$DOMAIN
      icon: prometheus

- Services:
  - Vaultwarden:
      href: https://vaultwarden.$DOMAIN
      icon: vaultwarden
  - Vault:
      href: https://vault.$DOMAIN
      icon: vault
  - RabbitMQ:
      href: https://rabbitmq.$DOMAIN
      icon: rabbitmq

- Media:
  - Jellyfin:
      href: https://jellyfin.$DOMAIN
      icon: jellyfin
  - OpenMediaVault:
      href: https://omv.$DOMAIN
      icon: openmediavault
