- datetime:
    locale: en-GB
    timezone: Europe/London
    text_size: xl
    align: left
    format:
      timeStyle: short
      dateStyle: long

- search:
    provider: duckduckgo
    focus: true
    align: center
    width: medium

- weather:
    label: London
    latitude: 51.5074
    longitude: -0.1278
    units: metric
    align: right
