- Homelab:
  - Proxmox:
      href: https://proxmox.$DOMAIN
      icon: proxmox
      widget:
        type: proxmox
        url: https://proxmox.$DOMAIN
        username: $PROXMOX_API_USER
        password: $PROXMOX_API_PASS
  - Pi-hole:
      href: https://pihole.$DOMAIN/admin
      icon: pi-hole
      widget:
        type: pihole
        url: https://pihole.$DOMAIN
        version: 6
        key: $PIHOLE_API_KEY

- Networking:
  - Router:
      href: https://router.$DOMAIN
      icon: router
  - Reverse Proxy:
      href: https://reverseproxy.$DOMAIN
      icon: nginx
  - WireGuard:
      href: https://wireguard.$DOMAIN
      icon: wireguard

- Monitoring:
  - Grafana:
      href: https://grafana.$DOMAIN
      icon: grafana
  - VictoriaMetrics:
      href: https://victoriametrics.$DOMAIN
      icon: prometheus
  - VictoriaLogs:
      href: https://victorialogs.$DOMAIN
      icon: prometheus

- Services:
  - Vaultwarden:
      href: https://vaultwarden.$DOMAIN
      icon: vaultwarden
  - Vault:
      href: https://vault.$DOMAIN
      icon: vault
  - RabbitMQ:
      href: https://rabbitmq.$DOMAIN
      icon: rabbitmq

- Media:
  - Jellyfin:
      href: https://jellyfin.$DOMAIN
      icon: jellyfin
  - OpenMediaVault:
      href: https://omv.$DOMAIN
      icon: openmediavault
