- Infra:
  - Router:
      href: https://router.$DOMAIN
      icon: router
  - Proxmox:
      href: https://proxmox.$DOMAIN
      icon: proxmox
      widget:
        type: proxmox
        url: https://proxmox.$DOMAIN
        username: $PROXMOX_API_USER
        password: $PROXMOX_API_PASS
  - NAS:
      href: https://nas.$DOMAIN
      icon: ugreen
  - WireGuard:
      href: https://wireguard.$DOMAIN
      icon: wireguard
  - Pi-hole primary:
      href: https://pihole1.$DOMAIN/admin
      icon: pi-hole
      widget:
        type: pihole
        url: https://pihole1.$DOMAIN
        version: 6
        key: $PIHOLE_PRIMARY_API_KEY
  - Pi-hole secondary:
      href: https://pihole2.$DOMAIN/admin
      icon: pi-hole
      widget:
        type: pihole
        url: https://pihole2.$DOMAIN
        version: 6
        key: $PIHOLE_SECONDARY_API_KEY

- Monitoring:
  - Grafana:
      href: https://grafana.$DOMAIN
      icon: grafana
      widget:
        type: grafana
        version: 2
        alerts: alertmanager 
        url: https://grafana.$DOMAIN
        username: $GRAFANA_USER
        password: $GRAFANA_PASS
  - VictoriaLogs:
      href: https://victorialogs.$DOMAIN
      icon: victorialogs
  - VictoriaMetrics:
      href: https://victoriametrics.$DOMAIN
      icon: victoriametrics
  - VMAlert:
      href: https://vmalert.$DOMAIN
      icon: victoriametrics
  - VMAgent:
      href: https://vmagent.$DOMAIN
      icon: victoriametrics
  - Alertmanager:
      href: https://alertmanager.$DOMAIN
      icon: alertmanager

- Services:
  - Vaultwarden:
      href: https://vaultwarden.$DOMAIN
      icon: vaultwarden
  - Vault:
      href: https://vault.$DOMAIN
      icon: vault
  - RabbitMQ:
      href: https://rabbitmq.$DOMAIN
      icon: rabbitmq

- Media:
  - Jellyfin:
      href: https://jellyfin.$DOMAIN
      icon: jellyfin
  - Sonarr:
      href: https://sonarr.$DOMAIN
      icon: sonarr
      widget:
        type: sonarr
        url: https://sonarr.$DOMAIN
        key: $SONARR_API_KEY
  - Radarr:
      href: https://radarr.$DOMAIN
      icon: radarr
      widget:
        type: radarr
        url: https://radarr.$DOMAIN
        key: $RADARR_API_KEY
  - Bazarr:
      href: https://bazarr.$DOMAIN
      icon: bazarr
      widget:
        type: bazarr
        url: https://bazarr.$DOMAIN
        key: $BAZARR_API_KEY
