- Homelab:
  - Proxmox:
    href: https://proxmox.$DOMAIN

- Networking:
  - Router:
    href: https://router.$DOMAIN
  - Pi-hole:
    href: https://pihole.$DOMAIN
  - Reverse Proxy:
    href: https://reverseproxy.$DOMAIN
  - WireGuard:
    href: https://wireguard.$DOMAIN

- Monitoring:
  - Grafana:
    href: https://grafana.$DOMAIN
  - VictoriaMetrics:
    href: https://victoriametrics.$DOMAIN
  - VictoriaLogs:
    href: https://victorialogs.$DOMAIN

- Services:
  - Vaultwarden:
    href: https://vaultwarden.$DOMAIN
  - Vault:
    href: https://vault.$DOMAIN
  - RabbitMQ:
    href: https://rabbitmq.$DOMAIN

- Media:
  - Jellyfin:
    href: https://jellyfin.$DOMAIN
  - OpenMediaVault:
    href: https://omv.$DOMAIN
